<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container-fluid">
      {{!-- <a class="navbar-brand" href="#">The Tech Blog</a> --}}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Dashboard</a>
          </li>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
          {{!-- <a href="/profile">Profile</a> | --}}
          <a class="nav-link active" href="#" id="logout">Logout</a>
          {{else}}
          <a class="nav-item">
            <a class="nav-link active" href="/login">Login</a>
            </li>
            {{/if}}
        </ul>
      </div>
    </div>
  </nav>

  <div class="titlebutton" style="color:white">
    <!-- This needs to change to Dashboard dynamically - use handlebars? -->
    <button type="button" class="btn btn-primary titleholder"><h1>The Tech Blog</h1>
    </div>
  </div>

  <main class="container container-fluid mt-5">
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
    <div class="col-md-7">
    <button>+ New Post</button>
  </div>
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>