
.title-row {
    color: white;
    background-color: rgb(20, 85, 20);
}

.content-row {
    background-color:rgb(158, 194, 158);
    padding-top: 5px;
}

.comment-section {
    background-color:rgb(201, 231, 201)
}

body {
    background-color: rgb(221, 235, 221);
}

.new-post-button {
    float: left;
}

button {
    border-radius: 10px;
}

.title-row {
    padding-top: 20px;
}

h3 {
    text-decoration: underline;
}